<div *ngIf="formGroup" [formGroup]="formGroup">
  <input type="text" formControlName="name" />
  <hr />
  <div
    *ngFor="let item of formGroup.controls.list.controls; let i = index"
    [formGroup]="item"
  >
    <select formControlName="parameter">
      @for (option of parameterOptions; track $index) {
      <option [ngValue]="option.value">
        {{ option.label }}
      </option>
      }
    </select>
    <select *ngIf="item.value.parameter" formControlName="condition">
      <!-- conditionally show dropdown items based on parameter -->
      @switch (item.value.parameter) { @case (parameterEnum.Country) { @for
      (option of countryConditions; track $index) {
      <option [ngValue]="option.value">
        {{ option.label }}
      </option>
      } } @case (parameterEnum.IpAddress) { @for (option of ipAddressConditions;
      track $index) {
      <option [ngValue]="option.value">
        {{ option.label }}
      </option>
      } } @case (parameterEnum.Date) { @for (option of dateConditions; track
      $index) {
      <option [ngValue]="option.value">
        {{ option.label }}
      </option>
      } } @case (parameterEnum.ReaderGroup) { @for (option of readerGroupConditions;
      track $index) {
      <option [ngValue]="option.value">
        {{ option.label }}
      </option>
      } }}
    </select>

    <!-- conditionally load the value field -->
    @switch (item.value?.parameter) { @case (parameterEnum.Country) {
    <app-multi-select-dropdown formControlName="value" [options]="countryItems">
    </app-multi-select-dropdown>
    } @case (parameterEnum.IpAddress) {
    <input type="text" formControlName="value" />
    } @case (parameterEnum.Date) {
    <input type="date" formControlName="date" />
    } @case (parameterEnum.ReaderGroup) {
    <app-multi-select-dropdown
      formControlName="value"
      [options]="readerGroupItems"
    >
    </app-multi-select-dropdown>
    } @default { } }
    <button (click)="removeParameter(i)">x</button>
  </div>
  <button (click)="addParameter()">+</button>

  {{ formGroup.value | json }}
</div>

<hr />

<button (click)="bindData()">bind data</button>

<button (click)="initializeForm()">clear</button>
