<div ngbDropdown class="d-inline-block">
  <button
    type="button"
    class="btn btn-outline-primary"
    id="dropdownBasic1"
    ngbDropdownToggle
  >
    <ng-container *ngFor="let item of selectedOptions">
      <span class="chip">
        {{ item.value }}

        <button (click)="$event.stopPropagation(); removeSelection(item.id)">
          x
        </button>
      </span>
    </ng-container>
  </button>
  <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
    <input type="text" (input)="search($event)" />
    <div
      *ngFor="let i of clonedOptions"
      ngbDropdownItem
      (click)="$event.stopPropagation()"
    >
      <input
        #checkbox
        appMultiSelect
        [selectedValues]="value"
        [selectedValue]="i.id"
        type="checkbox"
        (click)="$event.stopPropagation()"
        (change)="$event.stopPropagation(); select(checkbox.checked, i.id)"
      />
      <label style="width: 100%">{{ i.value }}</label>
    </div>
  </div>
</div>
